

<div>
    <div class="alert alert-info">
        @Title
    </div>
    @if(ChildSomeContent != null)
    {
        <div class="alert alert-success">
            @ChildSomeContent
        </div>
    }

    @if (ChildContent != null)
    {
        <div class="alert alert-success">
            @ChildContent
        </div>
    }


    <br />

    <button class="btn btn-danger" @onclick="OnButtonClick">
        Click Me
    </button>

    <br />

    <_GrandChildComponent> 

    </_GrandChildComponent>

</div>

@code {

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildSomeContent { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    

}
