
<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h4>
    <p>There is a message - @MessageForGrandChild</p>
    <br />
    <p>The Lucky Number is - @TheLuckyNumber</p>
</div>

@code {

    [CascadingParameter(Name ="Message")]
    public string? MessageForGrandChild { get; set; }

    [CascadingParameter(Name = "LuckyNumber")]
    public string TheLuckyNumber { get; set; }
}
