@page "/LearnBlazor/ParentComponent"

<h2>Parent Component</h2>
<_ChildComponent Title="This Title is Passed as a parameter From Parent Component">
    Hello World
</_ChildComponent>

<_ChildComponent Title="This Title is Passed as a parameter From Parent Component">

</_ChildComponent>

@code {

}
